{% extends 'authapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 col-xs-12 col-lg-6 col-sm-6 mx-auto my-3 p-3 card shadow bg-body-tertiary">

            <form method="POST" class="">
                <h2 class="text-capitalize font-monospace">change password</h2>
                {{csrf_token}}
                {{form | crispy}}
            
                <button type="submit" class="btn text-light" style="background-color: rgb(2,2,87);">Submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}