canvas{
    background-color: darkcyan;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav-container{
    background-color: rgb(2, 2, 87);
}


/* body{
    background-image: url('./assets/fish.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: wheat;

} */

#login-background{
    background-image: url('./assets/login-background.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 5px;
}